parameters:
	exceptionRules:
		reportMaybes: true
		checkedExceptions: []
		methodThrowTypeDeclarations: []
		functionThrowTypeDeclarations: []

extensions:
	exceptionRules: Pepakriz\PHPStanExceptionRules\DI\ExceptionRulesExtension

services:
	-
		class: Pepakriz\PHPStanExceptionRules\CheckedExceptionService(%exceptionRules.checkedExceptions%)

	-
		class: Pepakriz\PHPStanExceptionRules\DefaultThrowTypeExtension(%exceptionRules.methodThrowTypeDeclarations%, %exceptionRules.functionThrowTypeDeclarations%)
		tags:
			- exceptionRules.dynamicMethodThrowTypeExtension
			- exceptionRules.dynamicStaticMethodThrowTypeExtension
			- exceptionRules.dynamicFunctionThrowTypeExtension

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ThrowsPhpDocRule
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ThrowsPhpDocInheritanceRule
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\UnreachableCatchRule
		tags: [phpstan.rules.rule]
