parameters:
	scopeClass: Pepakriz\PHPStanExceptionRules\Scope
	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: false
		checkedExceptions: []
		uncheckedExceptions: []
		methodThrowTypeDeclarations: []
		functionThrowTypeDeclarations: []

extensions:
	exceptionRules: Pepakriz\PHPStanExceptionRules\DI\ExceptionRulesExtension

services:
	-
		class: Pepakriz\PHPStanExceptionRules\CheckedExceptionService(%exceptionRules.checkedExceptions%, %exceptionRules.uncheckedExceptions%)

	-
		class: Pepakriz\PHPStanExceptionRules\DefaultThrowTypeExtension(%exceptionRules.methodThrowTypeDeclarations%, %exceptionRules.functionThrowTypeDeclarations%)
		tags:
			- exceptionRules.dynamicMethodThrowTypeExtension
			- exceptionRules.dynamicStaticMethodThrowTypeExtension
			- exceptionRules.dynamicFunctionThrowTypeExtension

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ThrowsPhpDocRule
		arguments:
			reportUnusedCatchesOfUncheckedExceptions: %exceptionRules.reportUnusedCatchesOfUncheckedExceptions%
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ThrowsPhpDocInheritanceRule
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\UnreachableCatchRule
		tags: [phpstan.rules.rule]
