parameters:
	annotatedExceptions:
		whitelist: []
		blacklist: []

services:
	throwsRuleFactory:
		class: Pepakriz\PHPStanExceptionRules\Rules\ThrowsRuleFactory(%annotatedExceptions.whitelist%, %annotatedExceptions.blacklist%)

	-
		class: PHPStan\Rules\Rule
		factory: @throwsRuleFactory::createTryCatch()
		tags: [phpstan.rules.rule]

	-
		class: PHPStan\Rules\Rule
		factory: @throwsRuleFactory::createThrow()
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ValidThrowValueRule
		tags: [phpstan.rules.rule]

	-
		class: Pepakriz\PHPStanExceptionRules\Rules\ValidThrowsPhpDocRule
		tags: [phpstan.rules.rule]
