includes:
	- vendor/phpstan/phpstan/conf/config.levelmax.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- extension.neon

parameters:
	tmpDir: %rootDir%/../../../tmp
	excludes_analyse:
		- %rootDir%/../../../tests/*/data/*

	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		uncheckedExceptions:
			- LogicException
			- PHPStan\ShouldNotHappenException
			- PHPUnit\Framework\Exception
			- Nette\DI\MissingServiceException
		methodThrowTypeDeclarations:
			PHPStan\Broker\Broker:
				getClass:
					- PHPStan\Broker\ClassNotFoundException
				getFunction:
					- PHPStan\Broker\FunctionNotFoundException
			PHPStan\Reflection\ClassReflection:
				getMethod:
					- PHPStan\Reflection\MissingMethodFromReflectionException
