includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- extension.neon

parameters:
	tmpDir: %rootDir%/../../../tmp
	excludes_analyse:
		- %rootDir%/../../../tests/*/data/*

	ignoreErrors:
		- "#^Method Pepakriz\\\\PHPStanExceptionRules\\\\RuleTestCase\\:\\:getRule\\(\\) return type with generic interface PHPStan\\\\Rules\\\\Rule does not specify its types\\: TNodeType$#"
		-
			message: "#^Parameter \\#1 \\$rules of class PHPStan\\\\Rules\\\\Registry constructor expects array\\<PHPStan\\\\Rules\\\\Rule\\>, array\\<int, TRule of PHPStan\\\\Rules\\\\Rule\\> given\\.$#"
			count: 1
			path: tests/src/RuleTestCase.php

	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		uncheckedExceptions:
			- LogicException
			- PHPStan\ShouldNotHappenException
			- PHPUnit\Framework\Exception
			- Nette\DI\MissingServiceException
		methodThrowTypeDeclarations:
			ReflectionMethod:
				getPrototype:
					- ReflectionException
			PHPStan\Broker\Broker:
				getClass:
					- PHPStan\Broker\ClassNotFoundException
				getFunction:
					- PHPStan\Broker\FunctionNotFoundException
			PHPStan\Reflection\ClassReflection:
				getMethod:
					- PHPStan\Reflection\MissingMethodFromReflectionException
