includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- extension.neon

parameters:
	tmpDir: %rootDir%/../../../tmp
	excludes_analyse:
		- %rootDir%/../../../tests/*/data/*

	exceptionRules:
		checkedExceptions:
			- Pepakriz\PHPStanExceptionRules\RuntimeException
