<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="Exception rules for PHPStan">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>./src</directory>
		</whitelist>
	</filter>
</phpunit>
